.server {
/*    width: 169px;
    height: 121px;*/
}


/*** DELETED FROM .SERVER BY DARREN ***/
.server_old {

}

.server_header {
    width: 90%;
/*    height: 15%;*/
    margin: auto;
    margin-top: 1%;
    color: #FFFFFF;
}

.server_content {
    width: 96%;
/*    height: 70%;*/
    margin: auto;

/*    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;*/

/*    background-color: white;*/

    overflow: auto; 
}

.server_content li{
    list-style-type: none;
}

.server_footer {
    width: 90%;
    height: 15%;
    margin: auto;
    font-size: 80%;
    text-align: left;
    min-height: 15%
}

.server a.cancel_btn {
    background-image: url(../img/cancel_btn.png);
    width: 15px;
    height: 15px;
    background-position: 0 0;
    display: block;

    float: right;
    margin-top: 1%;
    margin-right: -5%;
}

.server a.cancel_btn:hover {
    background-position: 0 -15px;
}

.server a.question_icon {
    background-image: url(../img/help_monitor.png);
    width: 14px;
    height: 14px;
    background-position: 0 0;
    display: block;

    float: left;
    margin-top: 1%;
    margin-left: -2%;
    cursor: pointer;
}

.server a.question_icon:hover {
    background-position: 0 -15px;
}

.thumb_up {
    background-image: url(../img/thumb_up.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 10px;
    height: 10px;
    float: right;
    margin-right: 2px;
    margin-top: 2px;
}

.thumb_down {
    background-image: url(../img/thumb_down.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 10px;
    height: 10px;
    float: right;
    margin-right: 2px;
    margin-top: 2px;
}

.logrunning {
    background-image: url(../img/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: center;
    width: 10px;
    height: 10px;
    float: right;
    margin-right: 2px;
    margin-top: 2px;
}

.Update {
    color: greenyellow;    
}

.Deploy {
    color: red;
}

.Running {
    color: orange;
    background-image: url(../img/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: right center;
}

#tabs2 h4 {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.server_progress {
    width: 80%;
    height: 15%;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 10%;
    border: 1px solid #DDD;
}

.server_progress .ui-progressbar-value {
    margin: 0px;
}

.server .ok{
    color: greenyellow;
}
